<div class="btn-group dropdown" uib-dropdown on-toggle="toggled(open)">
  <!-- uib-dropdown prefix is required after angular ui-bootstrap >= 0.14.3 -->
  <span
    ng-class="className || 'btn btn-sm btn-default uib-dropdown-toggle'"
    uib-dropdown-toggle>
    {{ btnText || 'Add to calendar' }}
    <span
      class="caret"
      ng-hide="hideCaret">
    </span>
  </span>
  <ul class="dropdown-menu">
    <li><a ng-click="calendarUrl.dlIcal()" ng-if="calendarUrl.dlIcal">iCalendar</a></li>
    <li><a href="{{calendarUrl.google}}" target="_blank">Google Calendar</a></li>
    <li><a ng-click="calendarUrl.dlIcal()" ng-if="calendarUrl.dlIcal">Outlook</a></li>
    <li><a href="{{calendarUrl.yahoo}}" target="_blank">Yahoo! Calendar</a></li>
    <li><a href="{{calendarUrl.microsoft}}" target="_blank">Microsoft Calendar</a></li>
  </ul>
</div>